## sf_class_2014

A project to determine what, if anything influenced the graduation success of the San Francisco class of 2014.

### Data Sources
- file1 : https://ctgraduates.lightning.force.com/lightning/r/Report/00O1M000007QxDwUAK/view
- file2:  Link to SF Report (As Needed)
- file3:  Link to SF Report (As Needed)

### Changes
- 02-06-2020 : Started project

In [1]:
# General Setup 
%load_ext dotenv
%dotenv
from salesforce_reporting import Connection, ReportParser
import pandas as pd
from pathlib import Path
from datetime import datetime
import helpers
import os

SF_PASS = os.environ.get("SF_PASS")
SF_TOKEN = os.environ.get("SF_TOKEN")
SF_USERNAME = os.environ.get("SF_USERNAME")

sf = Connection(username=SF_USERNAME, password=SF_PASS, security_token=SF_TOKEN)

cannot find .env file

### File Locations

In [2]:
today = datetime.today()
in_file1 = Path.cwd() / "data" / "raw" / "sf_output_file1.csv"
# in_file2 = Path.cwd() / "data" / "raw" / "sf_output_file3.csv"
# in_file3 = Path.cwd() / "data" / "raw" / "sf_output_file3.csv"

summary_file = Path.cwd() / "data" / "processed" / "processed_data.pkl"

### Load Report From Salesforce

In [3]:
# File 1 
report_id_file1 = "00O1M000007QxDwUAK"
sf_df = helpers.load_report(report_id_file1, sf)

# File 2 and 3 (As needed)
# report_id_file2 = "SF_REPORT_ID"
# report_id_file3 = "SF_REPORT_ID"
# sf_df = helpers.load_report(report_id_file2, sf)
# sf_df = helpers.load_report(report_id_file3, sf)

In [4]:
len(sf_df)

8133

#### Save report as CSV

In [5]:
# File 1
sf_df.to_csv(in_file1, index=False)


# File 2 and 3 (As needed)
# sf_df.to_csv(in_file2, index=False)
# sf_df.to_csv(in_file3, index=False)

### Load DF from saved CSV
* Start here if CSV already exist

In [6]:
# Data Frame for File 1 - if using more than one file, rename df to df_file1
df = pd.read_csv(in_file1)


# Data Frames for File 1 and 2 (As needed)

# df_file2 = pd.read_csv(in_file2)
# df_file3 = pd.read_csv(in_file3)

### Data Manipulation

In [8]:
df = helpers.shorten_site_names(df)

In [9]:
df

,Site,18 Digit ID,Full Name,College Track Status,High School Class,Global Academic Term,Academic Term: ID,Grade (AT),Indicator: First Generation,Indicator: Low-Income,...,Current School Type,Graduated: 2-Year Degree,Graduated: 4-Year Degree,Graduated: 4-Year Degree <=4 years,Graduated: 4-Year Degree <=5 years,Graduated: 4-Year Degree <=6 years,Academic: Scorecard Color,Financial: Scorecard Color,Social-Emotional: Scorecard Color,CC Advisor: 4-Year Degree Earned
0,Oakland,0034600001TQrTFAA1,Egypt Claxton,Active: Post-Secondary,2013,Winter 2018-19 (Quarter),a1a46000000mVFP,Year 6,True,True,...,Predominantly bachelor's-degree granting,False,False,False,False,False,-,-,-,-
1,Oakland,0034600001TQrTFAA1,Egypt Claxton,Active: Post-Secondary,2013,Spring 2009-10 (Semester),a1a46000000mBVr,9th Grade,True,True,...,Predominantly bachelor's-degree granting,False,False,False,False,False,-,-,-,-
2,Oakland,0034600001TQrTFAA1,Egypt Claxton,Active: Post-Secondary,2013,Fall 2009-10 (Semester),a1a46000000mBVq,9th Grade,True,True,...,Predominantly bachelor's-degree granting,False,False,False,False,False,-,-,-,-
3,Oakland,0034600001TQrTFAA1,Egypt Claxton,Active: Post-Secondary,2013,Spring 2012-13 (Semester),a1a46000000mBVi,12th Grade,True,True,...,Predominantly bachelor's-degree granting,False,False,False,False,False,-,-,-,-
4,Oakland,0034600001TQrTFAA1,Egypt Claxton,Active: Post-Secondary,2013,Fall 2012-13 (Semester),a1a46000000mBVh,12th Grade,True,True,...,Predominantly bachelor's-degree granting,False,False,False,False,False,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8128,San Francisco,0034600001TQpgGAAT,Erin Banks,CT Alumni,2012,Spring 2014-15 (Semester),a1a46000000m7Z5,Year 3,False,False,...,Not classified,False,True,True,True,True,-,-,-,Yongjun Heo
8129,San Francisco,0034600001TQpgGAAT,Erin Banks,CT Alumni,2012,Fall 2013-14 (Semester),a1a46000000m7Z4,Year 2,False,False,...,Not classified,False,True,True,True,True,-,-,-,Yongjun Heo
8130,San Francisco,0034600001TQpgGAAT,Erin Banks,CT Alumni,2012,Spring 2012-13 (Semester),a1a46000000m7Z3,Year 1,False,False,...,Not classified,False,True,True,True,True,-,-,-,Yongjun Heo
8131,San Francisco,0034600001TQpgGAAT,Erin Banks,CT Alumni,2012,Spring 2013-14 (Semester),a1a46000000m7Z2,Year 2,False,False,...,Not classified,False,True,True,True,True,-,-,-,Yongjun Heo
8132,San Francisco,0034600001TQpgGAAT,Erin Banks,CT Alumni,2012,Fall 2012-13 (Semester),a1a46000000m7Z1,Year 1,False,False,...,Not classified,False,True,True,True,True,-,-,-,Yongjun Heo

### Save output file into processed directory

Save a file in the processed directory that is cleaned properly. It will be read in and used later for further analysis.

In [10]:
# Save File 1 Data Frame (Or master df)
df.to_pickle(summary_file)